{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nextbook - Register</title>

    <link rel="stylesheet" href="{% static 'portal/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'portal/css/includes/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'portal/css/includes/footer.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <!--include navbar from includes-->
    {% include "portal/includes/navbar.html" %}

    <div class="hero">
        <div class="hero-text">
            <p><span class="changing-hero"></span></p>
        </div>
    </div>
    
    <div class="signup-signin-container">
        
        <section class="signup left" id="signup">
            <div class="signup-title">
                <h1>Sign Up</h1>
            </div>
            <div class="signup-form">
                <form action="register" method="POST">
                    {% csrf_token %}
                    <div class="form-input-field">
                        <input class="form-input-text" type="username" name="username" id="username" placeholder="Username" required>
                    </div>
                    <div class="form-input-field">
                        <input class="form-input-text" type="email" name="email" id="email" placeholder="Email" required>
                    </div>
                    <div class="form-input-field password-input-field">
                        <div class="password-input-container">
                            <input class="form-input-text password-input-text" type="password" name="password1" id="password1" placeholder="Password" required>
                            <i class="fa fa-eye" id="togglePassword"></i>
                        </div>
                    </div>
                    <div class="form-input-field">
                        <div class="password-input-container">
                            <input class="form-input-text password-input-text" type="password" name="password2" id="password2" placeholder="Confirm password" required>
                            <i class="fa fa-eye" id="toggleConfirmPassword"></i>
                        </div>
                    </div>
                    <div class="form-submit">
                        <button type="submit" class="submit-btn">Submit</button>
                    </div>
                </form>
            </div>
            <p id="form-footer-text">Already have an account?<a href="{% url 'index' %}#signin" id="link">Login</a></p>
        </section>
        
        
        <section class="signin right" id="signin">
            <div class="signin-title">
                <h1>Sign In</h1>
            </div>
            <div class="signin-form">
                <form action="login" method="POST">
                    {% csrf_token %}
                    <div class="form-input-field">
                        <input class="form-input-text" type="text" name="username" id="username" placeholder="Username" required>
                    </div>
                    <div class="form-input-field password-input-field">
                        <div class="password-input-container">
                            <input class="form-input-text password-input-text" type="password" name="loginPassword" id="loginPassword" placeholder="Password" required>
                            <i class="fa fa-eye" id="toggleLoginPassword"></i>
                        </div>
                    </div>
                    <div class="form-submit">
                        <button type="submit" class="submit-btn">Submit</button>
                    </div>
                </form>
            </div>
            <p id="form-footer-text">Don't have an account?<a href="{% url 'index' %}#signup" id="link">Register</a></p>
        </section>
    </div>

    {% include "portal/includes/footer.html" %}

    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script src="{% static 'portal/js/index.js' %}"></script>
</body>
</html>
