{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Nextbook - {% block title %}{% endblock %}</title>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="shortcut icon" href="{% static 'portal/css/images/logo.png' %}" type="image/x-icon">
    
    <link rel="stylesheet" href="{% static 'portal/css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'portal/css/includes/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'portal/css/includes/footer.css' %}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    {% block stylesheet %}{% endblock %}
</head>

<body>
    {% include 'portal/includes/navbar.html' %}

    {% block body %}
    {% endblock %}

    {% include 'portal/includes/footer.html' %}

    <script src="{% static 'portal/js/layout.js' %}"></script>
    {% block javascript %}{% endblock %}
</body>

</html>
